.top-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.flex-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 5px;
}

.flex-item:not(:last-child) {
  margin-right: 10px;
}

.conversion-history {
  width: 40%;
}

.file-upload-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.file-upload {
  flex-basis: 100%;
  padding: 20px;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
